{% extends "layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}


{% block content %}



    <!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <header class="major">
                <h2>Introducing the ultimate mobile app
                    <br />
                    for doing stuff with your phone</h2>
                <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
                    adipiscing nunc adipiscing. Condimentum turpis massa.</p>
            </header>
            <span class="image featured"><img src="images/TEST.png" alt="" /></span>
        </section>


        <div class="row">
            <div class="col-6 col-12-narrower">

                <section class="box special">
                    <span class="image featured"><img src="images/YourSport_Default_Cycle.webp" alt="" /></span>
                    <h3>Sed lorem adipiscing</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
                        rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>
            <div class="col-6 col-12-narrower">

                <section class="box special">
                    <span class="image featured"><img src="images/YourSport_Default_Foot.webp" alt="" /></span>
                    <h3>Accumsan integer</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
                        rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>

            <div class="col-6 col-12-narrower">

                <section class="box special">
                    <span class="image featured"><img src="images/YourSport_Default_Cycle.webp" alt="" /></span>
                    <h3>Accumsan integer</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
                        rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>

            <div class="col-6 col-12-narrower">

                <section class="box special">
                    <span class="image featured"><img src="images/YourSport_Default_Foot.webp" alt="" /></span>
                    <h3>Accumsan integer</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
                        rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>
        </div>

    </section>


{% endblock %}
