{% extends "layoutindex.html.twig" %}

{% block title %}
   YourSport - Accueil
{% endblock %}


{% block content %}


    <!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <header class="major">
                <h2>Introducing the ultimate mobile app
                    <br />
                    for doing stuff with your phone</h2>
                <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
                    adipiscing nunc adipiscing. Condimentum turpis massa.</p>
            </header>
        </section>


        <div class="row">
            {% for lastevent in lastevents %}
            <div class="col-6 col-12-narrower">

                <section class="box special">
                    <span class="image featured"><img src="images/YourSport_Default_Cycle.webp" alt="{{ lastevent.titre }}" /></span>
                    <h3>{{ lastevent.titre }}</h3>
                    <p>{{ lastevent.details }}</p>
                    <ul class="actions special">
                        <li><a href="{{ path('evenement_evenement',{
                                'sports'    : lastevent.sport.slug,
                                'slug'      : lastevent.slug,
                                'id'        : lastevent.id
                            }) }}" class="button alt">Lire la suite</a></li>
                    </ul>
                </section>

            </div>
            {% endfor %}

        </div>

        <!-- Widget Météo -->

        <section id="cta">

            <div id="app">

                <div class="tooltip">

                    <h1 class="tool">

                        <span id="ville"></span>

                        <span class="tooltiptext">Les conditions météorologique du monde entier.</span>

                    </h1>

                    <p>Saisissez une ville de votre choix partout dans le monde ...</p>

                </div><!-- End tooltip -->

                <h3 class="weather">
                    <span id="state" ></span>,&nbsp;<span id="country"></span>
                </h3>

                <h3 class="weather">

                    Longitude:&nbsp;<span id="longitude" class="weather"></span>&nbsp; ; &nbsp; Latitude:&nbsp;<span id="latitude"></span>

                </h3>

                <i class="wi"></i>

                <h2>
                    <span id="temperature" class="weather"></span> <span class="weather">C°</span><br />
                    <span class="weather">(<span id="conditions"></span>)</span>
                </h2>

                <h4 class="weather">
                    Force du vent:&nbsp;<span id="vent"></span>&nbsp;Km/h&nbsp; - &nbsp;Direction:&nbsp;<span id="direction"></span>
                </h4>

            </div><!-- End App -->

        </section><!-- End widget -->

    </section>


{% endblock %}
