{% extends "layout.html.twig" %}

{% block title %}

    {{ evenement.slug }}

{% endblock %}

{% block content %}

    <!-- Main -->
    <section id="main" class="container">

        <header>
            <h2>{{ evenement.sport.nom }}</h2>
        </header>

    </section>

{% endblock %}

