{% extends "layout.html.twig" %}

{% block title %}

    {{ evenement.slug }}

{% endblock %}

{% block content %}

    <!-- Main -->
    <section id="main" class="container">

        <header>
            <h2>Evénement par sport</h2>
        </header>



        </div>


    </section>

{% endblock %}

