{% extends 'layout.html.twig' %}

{% block title %}
    YourSport - Mes Evénements
{% endblock %}

{% block content %}
    <section id="main" class="container">

        <header>
            <h2>Mes événements</h2>
        </header>



    </section>
{% endblock %}



