
{# ---- Format de l'email de contact reçu sur notre mail ---- #}

<p>Email : {{ contact.email }} </p>
<br/>
<p>Nom : {{ contact.nom }} </p>
<br/>
<p>Prenom : {{ contact.prenom }} </p>
<br/>
<br/>
<p>Message : {{ contact.message }} </p>