<!DOCTYPE html>

<!--
__    __  _____   _   _   _____         _____   _____   _____   _____   _____
\ \  / / /  _  \ | | | | |  _  \       /  ___/ |  _  \ /  _  \ |  _  \ |_   _|
 \ \/ /  | | | | | | | | | |_| |       | |___  | |_| | | | | | | |_| |   | |
  \  /   | | | | | | | | |  _  /       \___  \ |  ___/ | | | | |  _  /   | |
  / /    | |_| | | |_| | | | \ \        ___| | | |     | |_| | | | \ \   | |
 /_/     \_____/ \_____/ |_|  \_\      /_____/ |_|     \_____/ |_|  \_\  |_|

-->

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Live your sport!"/>

        {% block stylesheets %}
        <!-- Weather Icons -->
        <link rel="stylesheet"  href="http://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}Title{% endif %} | YourSport
            {% endblock %}
        </title>

    </head>
    <body>


    {% block body '' %}

    {% block javascript '' %}

    </body>
</html>