{% extends "layout.html.twig" %}

{% block title %}
    YourSport - CGU
{% endblock %}

{% block content %}

    <!-- DECLARATION DES CGU -->

    <section id="main" class="container medium textal">

        <header>
            <h2>CGU</h2>
        </header>
        <h2 class="blue">MENTIONS LÉGALES - YourSport.fr</h2>
        <p>Le site YourSport.fr est édité par la société YOURSPORT FRANCE Société Anonyme
            au capital de 500 euros, immatriculée au Registre du Commerce et des Sociétés
            d’EVRY sous les numéros : SIRET : 458 201 123 00010 - N° d'identification TVA : FR409598745698
        </p>
        <h2 class="blue">SIÉGE SOCIAL :</h2>
        <p>2 rue Eugène Pottier, BP500, 78190 TrappesCedex<br />
            Téléphone : 01 69 10 82 00<br />
            Courriel :  yoursport78190@gmail.com<br />
        </p>
        <h2 class="blue">DIRECTEUR DE LA PUBLICATION :</h2>
        <p>
            Monsieur Jean-luc MICHELL
        </p>
        <h2 class="blue">HÉBERGEMENT :</h2>
        <p>Société NBS System - 8 rue Bernard Buffet 75017 Paris -
            Téléphone : 01.58.56.60.80 - Fax : 01.58.56.60.81 - Mail : contact@nbs-system.com</p>
        <h2 class="blue">DÉCLARATION CNIL :</h2>
        <p>

            Conformément à la loi n°78-17 du 6 janvier 1978 dite « Informatique et Libertés » ,
            modifiée par la loi du 6 août 2004 et le décret du 25 mars 2007, ce site a fait
            l'objet d'une déclaration préalable auprès de la Commission Nationale Informatique et
            Liberté (CNIL). Le numéro de déclaration est le 1990448.<br /><br />

            Vos données personnelles sont collectées par la société YOURSPORT France, société-
            Anonyme au capital de 500euros, immatriculée au Registre du Commerce et des Sociétés
            de d’EVRY sous les numéros : SIRET : 964 201 123 00010 - en qualité de responsable de
            traitement, représentée par La Direction marketing Client et Communication.<br/><br />

            Les données personnelles recueillies lors de votre inscription à la newsletter sont
            utilisées par la société YOURSPORT FRANCE et ses partenaires, sous réserve de votre
            accord, à des fins de prospection commerciale.<br/><br />

            En application de la loi Informatique et libertés, vous disposez à tout moment d'un
            droit d'accès, de modification, d’opposition et de suppression des données personnelles
            vous concernant, par courrier postal, accompagné d’une copie d’un justificatif d’identité
            (carte d’identité ou passeport), à : Service Consommateurs - YOURSPORT FRANCE 2 rue Eugène
            Pottier, 78190 TRAPPES. Nous vous répondrons dans un délai de deux (2) mois maximum.<br/><br />

        </p>
        <h2 class="blue">COOKIES :</h2>
        <p>
            Notre site intègre des cookies internes et tiers afin d’améliorer sa navigation et son contenu.
            Ils permettent aussi de nous fournir des informations sur la façon dont le site est utilisé afin
            d’assurer sa mise à jour, sa pertinence et l’absence de bugs. La majorité des cookies utilisée
            sur notre site est indispensable à son fonctionnement. Ces cookies peuvent améliorer la performance
            et apporter des fonctionnalités complémentaires.<br/><br />

            D’autres permettent un meilleur ciblage afin d’améliorer votre expérience d’utilisation. Ils collectent
            par exemple vos habitudes de navigations afin de mieux cibler les contenus proposés.<br/><br />

            Plusieurs possibilités vous sont offertes pour gérer les cookies. A tout moment, vous pouvez exprimer et
            modifier vos souhaits en matière de cookies, via la section « Aide » de la barre d'outils de votre navigateur.
            Celle-ci vous indique comment refuser les nouveaux "cookies", obtenir un message qui vous signale leur réception
            ou encore comment les désactiver. Vous pouvez également effacer les cookies manuellement.<br/><br />

            Pour Internet Explorer™ : ouvrez le menu "Outils", puis sélectionnez "Options internet" ; cliquez sur l'onglet
            "Confidentialité" puis l'onglet "Avancé" choisissez le niveau souhaité ou suivez ce lien :
            <a target="_blank" href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies">
            http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies</a><br/><br />

            Pour Firefox™ : ouvrez le menu "Outils", puis sélectionnez "Options" ; cliquez sur l'onglet "Vie privée"
            puis choisissez les options souhaitées ou suivez ce lien : <a target="_blank" href="http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies">
            http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies</a><br/><br />

            Pour Chrome™ : ouvrez le menu de configuration (logo clé à molette), puis sélectionnez "Options"; cliquez sur
            "Options avancées" puis dans la section "Confidentialité", cliquez sur "Paramètres de contenu", et choisissez
            les options souhaitées ou suivez le lien suivant : <a target="_blank" href="http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647">
            http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647</a><br/><br />

            Pour Safari™ : choisissez " Safari > Préférences" puis cliquez sur "Sécurité" ; dans la section "Accepter les cookies" choisissez
            les options souhaitées ou suivez ce lien : <a target="_blank" href="http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html">
            http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html</a><br/><br />

            Pour Opera™ : ouvrez le menu "Outils" ou "Réglages", puis sélectionnez "Supprimer les données privées"; cliquez sur l'onglet "Options
            détaillées", puis choisissez les options souhaitées ou suivez ce lien : <a target="_blank" href="http://help.opera.com/Windows/10.20/fr/cookies.html">
            http://help.opera.com/Windows/10.20/fr/cookies.html</a><br/><br />

            Découvrez les conseils de CNIL pour bloquer les cookies tiers :<br/> <a target="_blank" href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">
            https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a><br/><br />

            En continuant votre visite sur notre site, vous acceptez que des cookies soient installés lors de votre navigation.

        </p>
        <h2 class="blue">RÉCLAMATIONS :</h2>
        <p>
            Pour toute réclamation, vous pouvez contacter notre Service Consommateurs, par téléphone au 09 69 32 18 19 du lundi au vendredi de 9h à 20h et
            le samedi de 9h30 à 12h30 et de 13h30 à 18h, ou par courrier postal à l’adresse : Service Consommateurs - YOURSPORT FRANCE 2 rue Eugène Pottier, 78190 TRAPPES.<br/><br />


            Si la réponse qui vous est fournie ne vous satisfait pas, vous pouvez adresser votre réclamation au médiateur Service de médiation MEDICYS, par courrier postal
            à l’adresse suivante MEDICYS- Centre de médiation et règlement amiable des huissiers de justice- 73, Boulevard de Clichy, 75009 – Paris ou par Internet à l’adresse suivante <a href="www.medicys.fr" target="_blank"> www.medicys.fr</a>.<br/><br />

            Le recours au médiateur est gratuit.<br/><br />

            Après avoir été saisi du litige, le Médiateur recueille les informations qui lui sont nécessaires pour instruire le dossier et rend un avis dans un délai de trois mois.<br/><br />

            Cet avis ne s’impose ni à vous ni à nous et vous conservez le droit de saisir le tribunal.<br/><br />

            Pour plus d’informations sur la procédure de médiation : <a href=" https://mediateur-consommation.fr/plateforme-europeenne-mediation" target="_blank">
                https://mediateur-consommation.fr/plateforme-europeenne-mediation/</a>.<br/><br />

            Crédit photos: Yoursport France

        </p>



    </section>
{% endblock %}