
<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a target="_blank" href="https://twitter.com/YourSport6" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a target="_blank" href="https://www.facebook.com/jeanluc.yoursport" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a target="_blank" href="https://www.instagram.com/jyoursport/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a target="_blank" href="https://github.com/Yoursport" class="icon fa-github"><span class="label">Github</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; YourSport. 2019. All rights reserved.</li>
        <li>Design: <a href="{{ path('accueil') }}">YOURSPORT</a></li>
        <li><a href="{{ path('default_cgu') }}">CGU</a> </li>
    </ul>
</footer>

</div>
</body>