    <!-- Header -->
    <header id="header">
        <h1><a href="{{ path('accueil') }}">YourSport</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ path('accueil') }}">Accueil</a></li>
                <li>
                    <a href="#" class="icon fa-angle-down">Evénements</a>
                    <ul>
                        <li><a href="generic.html">Trouver un Evénement</a></li>
                        <li><a href="{{ path('evenement_createEvenement') }}">Créer votre Evénement</a></li>
                        <li><a href="elements.html">Mes Evénements</a></li>
                    </ul>
                </li>

                <li>

                    <a href="#" class="icon fa-angle-down">Sports</a>
                    <ul>
                        <li><a href="#">Football</a></li>
                        <li><a href="#">Basketball</a></li>
                        <li><a href="#">Vélo</a></li>
                        <li><a href="#">Surf</a></li>
                        <li><a href="#">Glisse Urbaine</a></li>
                    </ul>
                </li>

                <li><a href="index.html">Profil</a></li>

                <li><a href="index.html">Contact</a></li>

                <!--<li><a href="#" class="button">Connexion</a></li>-->
            </ul>
        </nav>
    </header>
